:root {
  --text-shadow: 
    0px -.5px 0px rgba(0, 0, 0, 0.75),   /* Top shadow - black */
    0px .5px 0px rgba(2555, 255, 255, 0.75),  /* Right shadow - white */
    .5px 0px 0px rgba(255, 255, 255, 0.75),  /* Bottom shadow - white */
    -.5px 0px 0px rgba(0, 0, 0, 0.75);   /* Left shadow - black */
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: black; /* Base black background */
  color: white; /* Default text color */
  font-family: Arial, sans-serif;

  /* Create a rotated text pattern */
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Rotated pattern */
  background-image: repeating-linear-gradient(
    90deg,
    transparent,
    transparent 40px,
    rgba(64, 64, 64, 0.2) 50px,
    transparent 60px
  );
  transform: rotate(90deg);
  transform-origin: center;
  z-index: -1;
}
@font-face {
    font-family: 'Orbitron';
    src: url('../font/Orbitron.ttf') format('truetype');
    font-style: normal;
    
}

@font-face {
    font-family: 'VT-323';
    src: url('../font/VT-323.ttf') format('truetype');
    font-style: normal;
 }
@font-face {
    font-family: 'Digital-7';
    src: url("../font/Digital-7.ttf") format("truetype");
    font-style: normal;
    
}

/* Cover overlay styling */
#loadingCover {
  position: fixed;
  top: 0;
  left: 0;
  width: 800px;
  height: 700px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  font-size: 1.5em;
  font-family: Arial, sans-serif;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}
#console-container{
  overflow: auto;
}


.grid-cell.mode-write{
    border-color: lightblue;
}

.grid-cell.mode-arrange{
    border-color: mediumpurple;
}


/* Color for columns 5 and 13 */
#grid-container > .grid-cell:nth-child(8n + 1){
   background-color: rgba(15, 144, 15, 0.25);
} 

/* Color for columns 1 and 9 */
#grid-container > .grid-cell:nth-child(8n + 5){
  background-color: rgba(144, 20, 144, 0.25); 
}

/* Color for columns 3, 7, 11, and 15 */
#grid-container > .grid-cell:nth-child(4n + 3){
   background-color: rgba(173, 216, 230, 0.25); 
}

@font-face {
    font-family: 'Doto';
    src: url("../font/Doto-VariableFont_ROND,wght.ttf") format("truetype");
    font-style: normal;
    
}

@font-face {
    font-family: 'Syne';
    src: url("../font/SyneMono-Regular.ttf") format("truetype");
    font-style: normal;
    
}

.flex-column {
  display: flex;
  flex-direction: column;
    height:100%;
}
/* CSS */
#cell-editor-container{
  position: absolute;
  border-style: solid;
  border-color: white;
  height: 17px;
  width: 585px;
  left: 210px;
  top: 1px;
  background-color: midnightblue;
}
  .ce-val-pick{
    width: 20px;
    height: 12px;
    background-color: aliceblue;
    font-family: "Digital-7";
    font-size: 10px;
    color: black;
  }
  #syllable-override-switch, #emphasize-switch{
    margin-top: -20px;
  }

.selector-val-button {
    height: 17px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    cursor: pointer;
}

.svb-inc::before {
    content: "\25B2"; /* Unicode for Upwards Arrow */
    font-size: 10px;
    color: black;
}

.svb-dec::before {
    content: "\25BC"; /* Unicode for Downwards Arrow */
    font-size: 10px;
    color: black;
}


.is-candidate {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border: 2px solid transparent; /* Initial border */
  background-clip: padding-box;
  animation: border-animation 2s infinite; /* Animation name and duration */
}

@keyframes border-animation {
  0% {
    border-color: #ff5733; /* Start color */
  }
  25% {
    border-color: #33ff57; /* Intermediate color */
  }
  50% {
    border-color: #3357ff; /* Intermediate color */
  }
  75% {
    border-color: #ff33a6; /* Intermediate color */
  }
  100% {
    border-color: #ff5733; /* Loop back to start */
  }
}

/* Define the keyframes for the border animation */
@keyframes borderAnimation {
    0% {
        border-color: red;
    }
    25% {
        border-color: orange;
    }
    50% {
        border-color: yellow;
    }
    75% {
        border-color: green;
    }
    100% {
        border-color: blue;
    }
}


.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
    flex: 1;
    width: 100%;
    
}

.module-subsection{
    border-style: groove;
    border-width: 2px;
    border-color: white;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 3px;
    padding-right: 4px;
    align-items: center;
    height: border-box;
}

.value-selector{
    background-color: indianred;
}

#mode-selector{
    background-color: slateblue;
    color: white;
}

/* Styling for all modules */
.label {
  font-family: 'Orbitron';
  font-variant-caps: unicase;
    font-size: 9px;
    line-height: 1.2;
  color: white;
  text-shadow: var(--text-shadow);
}

.grid-cell {
  height: 20px;
    border-style: solid;
  border-width: 1px;
  border-color: darkcyan;
  font-size: 16px;
    text-transform: none; /* Prevents automatic capitalization */
}


.grid-cell::selection {
    background-color: lightblue; /* Change the highlight color */
    color: black; /* Change the text color */
}

#grid-view-row-2, #grid-view-row-1, #grid-view-row-3 {
  display: flex;
  flex-direction: row;
}
.grid-view-empty-space {
  height: 6px;
  width: 45px;
  background-color: cadetblue;
  border-style: solid;
  border-width: 2px;
  border-color: cadetblue;
}
.row-label-container {
  display: grid;
  grid-template-rows: repeat(18, 20px);
  width: 15px;
}

.column-label-container {
  height: 20px;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  width: 100%;
}

.light{
  height: 5px;
  width: 5px;
  border-radius: 50%;
 margin-top: 0;
 margin-left: 5px;
 margin-right: 1px;
    margin-bottom: 0;
  background-color: darkgreen;
}

.light-active {
    background-color: greenyellow;
}

#start-marker-container, #end-marker-container{
  display: grid;
  grid-template-rows: repeat(18, 20px);
}

.start-marker,
.end-marker {
  height: 20px;
  width: 30px;
  border-style: solid;
  border-width: 1px;
  border-color: cadetblue;
  font-size: 12px;
}

.start-marker {
  position: relative;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.start-marker-active {
  background-color: green;
}

.start-marker-active::after {
  content: '▶'; /* Right-facing arrow symbol */
  color: white;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.end-marker {
  position: relative;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

.end-marker-active {
  background-color: red;
}

.end-marker-active::after {
  content: '■'; /* Solid square symbol */
  color: white;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.column-label {
    place-content: center;
    text-align: center;
    height: 12px;
    color: cadetblue;
}

.row-label {
  place-content: center;
  text-align: center;
  height: 20px;
  color: cadetblue;
}

.disk-module {
    
}
.file-manager-module {
  
}
.title-module, .mixer-module, .project-manager-module, .beat-track-module, .mode-module, .transport-module, .play-parameters-module{
    min-height: 72px; 
    height: 72px;
    max-height: 72px;
  position: relative;
}

.module-content{
    padding-left: 3px;
    padding-bottom: 3px;
    padding-right: 3px;
    gap: 3px;
}

#title-module-content{
    padding-top: 15px;
}

#beat-track-module-content {
  display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    gap: 3px;
    
}

.wave-form-view-module {
}

.grid-view-module {
  position: relative;
  width: 800px;
  background-color: black;
}

.step-playing {
    outline-style: solid;
    outline-width: 3px;
    outline-color: dodgerblue;
}



.mode-selector-label, .selector-label{
    font-family: "Syne";
 font-size: 12px;
 font-weight: normal;
}


.selector-label{
 color: white;
}

.mirror-inset{
  border-style: solid;
    border-width: 2px;
  border-top-color: silver;
  border-right-color: darkslategray;
  border-bottom-color: slategray;
  border-left-color: gainsboro;
}

#beat-track-name-display, #project-name-display{
  overflow: hidden; /* Hide content that overflows the container */
  text-overflow: clip; /* Clips the overflow text without adding ellipsis */
  white-space: nowrap; /* Prevent text from wrapping to the next line */
  width: 150px;
  
}

.inset{
 box-shadow: 
    0px -1px 0px rgba(0, 0, 0, 0.75),   /* Top shadow - black */
    0px 1px 0px rgba(255, 255, 255, 0.75),  /* Right shadow - white */
    -1px 0px 0px rgba(255, 255, 255, 0.75),  /* Bottom shadow - white */
    1px 0px 0px rgba(0, 0, 0, 0.75);   /* Left shadow - black */

}


.outset, .slider::-webkit-slider-thumb {
    border-style: outset;
    border-width: 2px;
  border-color: black;
}
.mode-light-active{
  background-color: greenyellow;
}

#grid-container {
  width: 100%;
  display: grid;
  grid-template-rows: repeat(18, 20px);
  grid-template-columns: repeat(16, 1fr);
  background-color: darkslategrey;
}

#wave-form-view-display{
    height: 30px;
    position: relative;
    max-width: 98%;
}

#wave-form-canvas {
  position: absolute;
    height: 30px;
  width: 100%;
}
#region-canvas{
    position: absolute;
    height: 30px;
    width: 100%;
    
}

#cp-top-row, #cp-bottom-row, #cp-wave-form-view {
  display: grid;
    gap: 4px;
    height: 72px;
}

#cp-top-row{
    grid-template-columns: 2fr 2fr 4fr;
    
}
#cp-bottom-row{
    grid-template-columns: 1fr 1fr 1fr 4fr;
    
}
#cp-grid-view{
    height: fit-content;
}


.app-title{
    font-family: "VT-323";
    font-size: 28px;
    color: cadetblue;
  
}

#version{u
    font-family: "Syne";
    font-size: 12px;
    color: cadetblue;
    
}

.module-container {
  border-radius: 5px;
  background-color: darkslategray;
    width: 100%;
  display: flex;
  flex-direction: column;
    
}

.mixer-module{
    background-color: black;
}



.module-title {
    font-family: "Orbitron";
    color: black;
    background-color: darkseagreen;
     
    font-size: 11px;
    font-weight: bold;
    align-content: start;
    width: fit-content;
    height: 12px;
    padding-right: 5px;
    text-shadow: var(--text-shadow);
}

#properties-display {
    font-size: 6px;
    height: 35px;
    overflow: auto;
    width: 75px;
  position: absolute;
  left: 125px;
  bottom: 32px;
}

.display {
    color: greenyellow;
  background-color: black;
  font-size: 14px;
  line-height: 1.2;
  font-family: 'VT-323', monospace;
  letter-spacing: -1px;
}
#project-name-display{
    color: cornflowerblue;
    height: 14px;
  width: 110px;
  margin-top: -2px;
}

.project-manager-module-content{
  position: relative;
}


.single-line {
  height: 16px;
  text-align: left;
    width: 95%;
}

#bpm-detect-label, #bt-properties-label{
    margin-top:-10px;
}
#detect-bpm-button, #commit-bpm-button{
    height: 18px;  
    margin: 1px;
}
#detect-bpm-display{
    height: 18px;
     width: 38px;
}

.button {
   font-family: "Syne" ;
  background-color: silver;
  color: black;
  cursor: pointer;
  font-size: 12px;
    padding: 1px;
    outline: 1px;
    margin-top: 2px;
    margin-bottom: 1px;
    font-variant-caps: unicase;
    line-height: 1.2;
    text-shadow: var(--text-shadow);
  border-color: white;
  border-style: outset;
}
#fm-button-array{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: -4px;
}

.right-justify {
    justify-content: flex-end; 
    align-items: center;  /* Optional: aligns items horizontally */
}

.panel-section {
  width: 800px;
  border: 2px outset #ccc;
  background-color: black;
  padding: 4px;

    
}

.value-selector-display{
    font-family: "Doto";
    font-size: 24px;
    height: 100%;
    background-color: black;
    width: 50px;
    color: greenyellow;
    text-align: right;
    
    /* Adjust as needed for uniformity */

}

#syllable-switch-container{
  position: absolute;
  height: 24px;
  top: 0px;
  left: 70px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.bool-switch-channel{
  display: flex;
  flex-direction: row;
  background-color: black;
  border-radius: 5px;
  height: 12px;
  width: 40px;
}

.bool-switch-label{
  font-family: "Syne";
  font-size: 9px;
  
}

.bool-switch-thumb{
  height: 8px;
  width: 20px;
  background-color: darkslategray;
  border-radius: 5px;
  border-width: 2px;
  border-style: ridge;
  border-color: darkgray;
  
}

.right-thumb{
  right: 20px;
  background-color: aquamarine;
  box-shadow: 0 0 10px aquamarine;
}

.value-selector-toggle-button {
    border-radius: 50%;
    height: 10px;
    width: 10px;
    position: relative; /* Allows control of positioning */
    outline: 2px solid greenyellow; /* Yellow outline outside the border */
    margin-left: -8px; /* Pushes it halfway out of its boundary to overlap the next element */
    margin-right: 5px;
    z-index: 1; /* Ensures it overlaps properly */
    background-color: darkolivegreen;
}
    

.branch-light {
  border-style: groove;
  border-width: 0;
  border-right-width: 2px;
  width: 15px;
  height: 12px;
  border-color: transparent; /* Default to invisible */
}

.branch-light.active {
  border-color: greenyellow; /* Set greenyellow for active borders */
}

.branch-light-top {
  border-top-width: 2px;
}

.branch-light-bottom {
  border-bottom-width: 2px;
}

.transport-button {
    height: 40px;
    width: 54px;
    border-radius: calc(1.91 * (100% / 12)); /* Scaled to match the SVG viewBox */
    overflow: hidden; /* Ensures content respects rounded corners */
    padding: 0px;
  background-size: contain;
  background-size: cover; 
  display: inline-block;
  transition: all 0.3s ease;
    
    
}
.transport-controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#play-button {
  background-color: darkgreen;
  
}

#record-button{
  background-color: darkslateblue;
  
}

#record-button.active {
  background-color: cornflowerblue;
}

#play-button.active {
  background-color: yellowgreen;
}

#stop-button{
    background-color: darkred;
}

#pause {
   height: 30px;
    width: 30px;
    align-self: center;
}


.mixer {
  display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 7px;
    rotate: 270deg;
    width: fit-content;
    position: relative;
    left: 122px;
    bottom: 93px;
    background-color: black;
    
}

.cell-editor-label{
  font-family: "Syne";
  font-size: 9px;
  margin-left: 10px;
  margin-right: 5px;
}

.slider-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Syne";
    background-color: black;
    height: 30px;
    width: 68px;
    border-right-color: darkslategray;
    border-bottom-color: slategray;
    border-left-color: silver;
    border-top-color: gainsboro;
    border-style: solid;
    border-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  width: 45px;
  background: black;
  border-radius: 1px;
    
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 9px;
  height: 15px;
  background: black;
  cursor: pointer;
    border-left-width: 3px;
    border-right-width: 3px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-color: slategray;
    border-bottom-color: silver;
    border-left-color: gainsboro;
    border-top-color: darkslategray;
}



.mixer-button {
    height: 9px;
    width: 9px;
    color: white;
    font-family: "Syne";
    font-variant-caps: small-caps;
    font-size: 8px;
    text-align: center;
    padding: 1px;
    rotate: 90deg;
    
}

.mute{
    background-color: maroon;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
}

.mute.active {
  background-color: orangered;
  color: whitesmoke;
  box-shadow: 0 0 10px orangered;

}
.solo{
    background-color: darkgreen;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.solo.active{
  background-color: greenyellow;
  color: whitesmoke;
  box-shadow: 0 0 10px greenyellow;

}

.channel-buttons{
    display: grid;
    grid-template-rows: repeat(2, 12px);
    gap: 2px;
}

.channel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.channel-meter{
  width: 60px;
  height: 6px;
  background-color: black;
  display: flex;
  flex-direction: row;
  
   
}
.meter-indicator-light{
  height: 6px;
  width: 6px;
  background-color: black;
  
}
.mil-green{
  background-color: darkgreen;
}
.mil-orange{
  background-color: darkorange;
}

.mil-red{
  background-color: darkred;
}

.slider-label{
    background-color: antiquewhite;
    color: black;
    width: fit-content;
    padding-left: 2px;
    padding-right: 2px;
}

#bpm-detect-container{
    max-width: 80px;
    background-color: goldenrod;
    
}


.is-playable{
  position: relative;
  background-color: black;
}

is-playable::after{
  content: "TACO";
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 10000;
}

